body { 
	font-family: Calibri; 
	font-size: 15px; 
	margin: 30px; 
}

.content { 
	position: relative; 
	overflow:hidden;
}

.game-over {
	display: none; 
	margin: 0 auto; 
	width: 900px; 
	text-align: center;
	color: #f44336;
	font-size: 21px;
	font-weight: bold;
}

#field { 
	float: left;
	width: 900px;
	margin: 0 auto; 
}
 
.field-line {
	height: 75px; 
	background-color: #4caf50;
	position: relative; 
}

.buttons { 
	width: 900px;
	margin: 5px auto;
	float: left;
	width: 15%;
 }
 
.button { 
	background:gold;
	display: inline-block;
	border: 1px solid #eee; 
	padding: 5px 10px;
	margin-bottom: 5px; 
	cursor: pointer;
	text-align: center; 
	width: 75%;
 }
 
.button#btnGenerate {
	background-color: #ff9800;
	}

.zombie { 
	position: absolute; 
	top: 0; 
	right: 0; 
}

.zombie.michael { 
	width: 46px; 
	height: 69px; 
	background-image: url(../img/michael.gif);
	background-size: cover;
}

.zombie.strong { 
	width: 60px;
	height: 73px;
	background-image: url(../img/strong.gif); 
	background-size: cover; 
 }
 
 .plant{
	width: 75px;
	height: 75px;
	background-image: url(../img/plant.gif); 
	background-size: cover; 
 }
 
 p{
	 font-size: 0.5em;
	 margin-top:-20px;
 }
 
.progress-life{
	width:100px;	
	height:10px;
	background: red;	
	margin: 0 0 16px 0;
}

.active-life{
	background:steelblue;
	height:10px;
}

ul li{
	 list-style-type: none;
}

